.navbar{
  /* height: 8vh; */
  background-color: #2b2a2e;
  display: flex;
  z-index: 2;
  color: #f7f1ea;
  padding: 0;
}

.navbar-brand {
  margin-left: 1rem;
}

.navbar img{
  width: 100px;
}

#login, #logout, #register ,#stats{
  color: #f7f1eade;
  margin: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

#login:hover, #logout:hover, #register:hover, #stats:hover{
  color: #fff;
}

span.exp, span.lvl, span.email{
  color: white;
}

#stats{
  border: solid;
  border-color: white;
  background-color: black;
  padding: 3px 4px;
  border-radius: 4px;
}

@media only screen and (max-width: 750px) {
  #navbar{
    flex-direction: column;
  }


  .navlink, #stats{
    margin-left: 0px;
  }
}
